@import "nullstyle.scss";

body {
	font-family: "Open Sans	FONT-FAMILY: "oPEN sANS", hELVETICA, aRIAL, SANS-SERIF;
", Helvetica, Arial, sans-serif;
}
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	
	&__title {
		margin: 20px;
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 7px;
		line-height: 28px;
		color: rgb(175, 180, 43);
		width: 488px;
	}
	&__tel {
		background-color: #a5c33c;
		color: #fff;
		font-weight: bold;
		font-size: 15px;
		height: 60px;
		line-height: 20px;
		text-align: center;
		width: 250px;
		padding: 12px 40px;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: #C1D57B;
			transition: all 0.3s ease 0s;
		}
	}
}
.nav {
	&__item {
		display: flex;
		justify-content: center;
		
		background-blend-mode: overlay;
		background: rgba(0, 0, 20, 0.3) url(../img/trees.jpg) center/100% no-repeat;
		height: 830px;

	}
}
.item-help {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	height: 750px;
	background: rgba(250, 210, 0, 0.6);
	&__title {
		text-align: center;
		height: 22px;
		width: 208px;
		margin: 40px 0 20px 0;
	}
	&__list {
		color: #333F;
		width: 215px;
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		margin: 0 0 0 0;
	}
	&__tel {
		font-weight: bold;
		font-size: 12px;
		text-transform: uppercase;
		color: #fff;
		background-color: #999999;
		margin: 15px 0 0 0;
		padding: 10px 50px;
		border-radius: 4px;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: #BFBFBF;
		}
	}
}
ul li {
	list-style: disc;
}
.item-help__image img {
	width: 350px;
	height: 350px / 1.6;
}
.title {
			font-weight: bold;
		font-size: 22px;
		color: #fff;
		text-transform: uppercase;
}
.item-nav {
	margin: 60px 0 0 0;
	&__title {
		margin: 0 0 20px 30px;
	}
	&__subtitle {
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		margin: 0 0 20px 30px;
	}
	&__nav {
		display: flex;
		width: 740px;
	}
	&__fcolumn {
		display: flex;
		flex-direction: column;
		margin: 0 0 0 30px;

	}
	&__scolumn {
		display: flex;
		flex-direction: column;
		margin: 0 0 0 30px;
	}
	&__column {
		color: #fff;
		font-weight: bold;
	}
}
.column {
	&__string{
		display: flex;
		align-items: center;
		margin: 40px 0 40px 0;
	}
	&__title {
		font-size: 15px;
	}
	&__text {
		font-size: 16px;
		line-height: 20px;
		margin: 0 33px 0 0;
	}
}

